/* not working */

/*@import url("//moodle/course/format/serial3/css/bootstrap.min.css");
@import url("//moodle/course/format/serial3/css/dc.min.css");
@import "//moodle/course/format/serial3/css/dc.css";
@import "/moodle/course/format/serial3/css/serial3.css";*/

[v-cloak] {
  display: none;
}

.right {
  float: right;
}

.red {
  color: #ff420e;
}

.row-smooth {
  margin-top: 10px;
}

/* Bad hack xxx: removes box above the timeline */

body#page-course-view-serial3 #region-main-box:nth-child(1) {
  /*display: inline-block;*/
  max-height: none;
  min-height: 1px;
}

body#page-course-view-serial3 #region-main-box:nth-child(1) #region-main .card {
  display: inline-block;
  min-height: 1px;
  border: none;
}

/* reset min-height to fit height to the content */

#region-main.serial3-region .card {
  min-height: 2rem;
}

#region-main>.card {
  margin-bottom: 20px;
}

.card-body.serial3 {
  padding: 1.25rem;
}

.dc-chart {
  margin: 0;
  display: inline-block;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

div.container.dc-chart {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.course-content ul.topics {
  margin: 0;
  display: inline-block;
  list-style: none;
}

.course-content ul.topics li.section .content {
  margin: 0 40px;
}

.course-content ul.topics li.section .left, .course-content ul.topics li.section .right {
  width: 40px;
  padding: 0 6px;
}

.course-content ul.topics li.section .right img.icon {
  padding: 0 0 4px 0;
}

.course-content ul.topics li.section .left {
  padding-top: 22px;
  text-align: right;
}

.jsenabled .course-content ul.topics li.section .left, .jsenabled .course-content ul.topics li.section .right {
  width: auto;
}

.course-content ul.topics li.section .left .section-handle img.icon {
  padding: 0;
  vertical-align: baseline;
}

.course-content ul.topics li.section .section_action_menu .textmenu, .course-content ul.topics li.section .section_action_menu .menu-action-text {
  white-space: nowrap;
}

#resources ul li.form-check {
  padding-left: 0 !important;
}

#timeline-chart .axis.x path {
  stroke: none;
}

#timeline-chart .axis.y .tick line {
  stroke: none;
  display: none;
}

#timeline-chart .y path {
  stroke: none;
  display: none;
}

.timeline-y-label {
  margin-left: 200px;
  fill: #777;
  font-weight: bold;
  fill-opacity: 0.8;
}

.milestone-chart-container g.axis.y {
  stroke: none;
  display: none;
  position: absolute;
  top: 10px;
  left: 100px;
}

.milestone-chart-container g.axis.y path.domain {
  stroke: none;
  display: none;
}

.milestone-chart-container g.axis.y .tick text {
  fill: #777;
  font-weight: bold;
  fill-opacity: 0.8;
}

.milestone-chart-container .milestone-bar {
  fill: #fff;
  fill-opacity: 0.5;
  text-anchor: middle;
  stroke: #000;
  stroke-width: 1px;
  cursor: pointer;
}

.milestone-chart-container .milestone-label {
  fill: black;
  text-anchor: middle;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.milestone-chart-container .milestone-urgent {
  stroke: #ffa500;
  stroke-width: 2px;
}

.milestone-chart-container .milestone-missed {
  stroke: #ff420e;
  stroke-width: 2px;
}

.milestone-chart-container .milestone-progress {
  stroke: #80bd9e;
  stroke-opacity: 0.8;
  stroke-width: 4px;
}

.milestone-chart-container .milestone-ready {
  stroke: #89da59;
  stroke-width: 2px;
}

.milestone-chart-container .milestone-reflected {
  stroke: #004C97;
  stroke-width: 4px;
}

.milestone-chart-container .milestone-learning-progress {
  fill: #80bd9e;
  fill-opacity: 0.8;
  stroke: none;
  cursor: pointer;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.today line.today-line {
  stroke-width: 2px;
  stroke: #ff420e;
  opacity: 0.7;
  fill: none;
}

.today text.today-label {
  fill: #ff420e;
  opacity: 0.8;
  font-family: "sans-serif";
  font-size: 0.7em
}

/* Modal */

.background-darken {
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-full {
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
}

.modal-header {
  position: relative;
  padding: 0.4rem 1.2rem;
}

.modal-header h5, .modal-header span, .modal-header button {
  z-index: 3;
}

.modal-header-completion {
  background-color: #80bd9e;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25%;
  z-index: 2;
}

.modal-header-completion-label {
  display: none;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7em;
  z-index: 3;
  padding: 0px 4px;
}

.modal-header-completion:hover .modal-header-completion-label {
  display: inline;
}

select {
  border: none;
  background: transparent;
  width: 100%;
  appearance: none;
  padding-top: 0px;
  background-size: 20px;
  font-size: 30px;
}

select option {
  color: #004C97;
  background: #ffffff;
}

select#select_day, select#select_month, select#select_year {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.modal .fa-plus {
  color: #333;
}

.modal .form-check-label .fa-trash {
  color: #777;
  right: 0;
  cursor: pointer;
}

.modal .form-check-label .fa-info {
  color: #777;
  cursor: pointer;
}

.modal .form-check-label .fa-info:hover {
  color: #111;
  text-align: right;
}

.modal .select-wrapper {
  padding: 2px 12px;
  height: 38px;
  border: 1px solid none;
  border-radius: 0.25rem;
  background-color: #ddd;
}

.modal .select-wrapper:hover {
  background-color: #004C97;
  border-color: #004C97;
  color: #fff;
}

.modal .select-wrapper>select {
  width: 90%;
  height: 35px;
}

.modal .select-wrapper:hover>select, .modal .select-wrapper:hover .fa {
  color: #fff;
}

.modal .strategy-introduction {
  font-size: 0.9em;
}

.strategy-title, .resources-title {
  font-weight: bold;
  font-size: 1.1em;
}

.milestone-entry-details .strategy-title, .milestone-entry-details .resources-title {
  font-size: 1.0em;
  font-weight: normal;
  margin: 4px 0 0 0;
}

.strat-col-1 {
  min-width: 45px;
}

.milestone-entry-details .strat-col-1 {
  min-width: 45px;
}

.milestone-entry-details .strat-col-2 {
  margin-left: 19px;
}

.strategy-list {
  padding: 0;
}

.strategy-category {
  margin: 0;
}

.strategy-category-title {
  font-weight: bold;
  font-size: 0.8em;
  color: #333536;
}

.strategy-category-item {
  display: inline-block;
  font-size: 0.8em;
  margin: 0 0 0 0px;
  width: 100%;
  line-height: 1;
  padding: 3px 3px;
}

.strategy-category-item:hover {
  background-color: #ced4da;
}

.strategy-category-item button.btn {
  display: inline;
  vertical-align: none;
  margin: 0;
  padding: 0 2px !important;
  line-height: 1;
  cursor: pointer;
}

.strategy-header, .resources-header {
  font-size: 0.8em;
  color: #83878b;
}

.strategy-selected-item, .resources-selected-item {
  padding-left: 10px;
  list-style: none;
}

.strategy-selected-item:hover, .resources-selected-item:hover {
  background-color: #ced4da;
}

.strategy-selected-item.ms-done, .resources-selected-item.ms-done {
  background-color: #80bd9e;
}

.strategy-selected-item.ms-done:hover, .resources-selected-item.ms-done:hover {
  background-color: #a7e7c7;
}

.strategy-selected-label, .resources-selected-label {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.strategy-selected-check, .recourses-selected-check {
  vertical-align: middle;
}

.strategy-selected-name, .resources-selected-name {
  font-size: 0.8em;
  margin-left: 19px;
}

a.resources-selected-name {
  text-decoration: underline;
}

.strategy-selected-remove, .strategy-selected-item button.btn, .resources-selected-remove, .resources-selected-item button.btn {
  display: inline;
  vertical-align: none;
  margin: 0;
  padding: 0 4px !important;
  line-height: 1;
  cursor: pointer;
  color: #333;
}

.strategy-selected-remove, .resources-selected-remove {
  right: 0;
  position: absolute;
  font-size: 0.9em;
}

.strategy-selected-remove:hover, .strategy-selected-item button.btn:hover, .resources-selected-remove:hover, .resources-selected-item button.btn:hover {
  color: #fff;
}

.strategy-selected-remove i, .resources-selected-remove i {
  padding-top: 4px;
}

/* end milestone form */

.milestone-chart-container .chart .ms-btn {
  margin-left: 2px;
  font-size: 0.7em;
}

.ms-coldstart-btn {
  margin: 0 !important;
  padding: 4px !important;
}

.ms-add {
  margin: 0 6px 0 6px !important;
  padding: 1px 5px !important;
  background-color: #008fac !important;
}

.ms-add:hover {
  background-color: #004C97;
  color: #fff;
}

#planningsurvey {
  display: none;
}

#planing-component.container {
  max-width: 100% !important;
}

#filter-chart .chart-body {
  /* xxx                */
  fill: #008FAC;
  border: solid 1px red;
}

.ms-chart {
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
}

.ms-chart .x.axis {
  display: none;
}

svg {
  margin-bottom: 0;
}

.ms-remove {
  margin-left: 10px;
  font-size: 1.2em;
  padding: 7px 8px;
  cursor: pointer;
}

.ms-remove:hover {
  color: #ff420e;
}

.ms-wrapper-resource {
  display: inline-block;
  background-color: none;
}

.ms-wrapper-resource.ms-done {
  display: inline-block;
  background-color: #89da59;
}

.ms-reflection {
  background-color: rgb(0, 76, 151, 0.7);
  color: #555;
}

.ms-reflection label.question-label {
  font-weight: bold;
  padding-left: 0;
}

.likert-row {
  margin: 4px 6px !important;
}

.ms-reflection h5 {
  color: #777;
  font-size: 1.2em;
}

.ms-reflection textarea {
  width: 100%;
}

.ms-chart-header {
  margin-bottom: 10px;
}

.wrapper {
  padding: 20px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse-big {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}

.survey-animate {
  float: left;
  margin: 40px;
  width: 130px;
  height: 130px;
  font: 13px/130px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  background: rgba(30, 144, 255, 0.6);
  border-radius: 50%;
  animation: shadow-pulse 4s infinite;
}

.survey-starter {
  background-color: #008FAC;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  -webkit-transition: -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  transition: -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  -o-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
  width: 200px;
  color: #fff;
}

.survey-starter:hover {
  background-color: #004C97;
  animation: none;
}

.survey-starter .fa {
  font-size: 1.2em;
  box-shadow: none;
  border: none;
  border-radius: none;
  margin-left: 10px;
}

.survey-starter span {
  font-weight: bold;
  border: none;
  border-radius: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#theSurveyModal label.col-form-label {
  font-weight: bold;
  margin-left: 0;
}

#theSurveyModal li.form-check, .modal li.form-check {
  max-width: 100%;
}

.remove-btn {
  margin-left: 6px;
  /* xxx should better float right */
}

.survey-objective-label {
  padding-left: 0 !important;
}

.resource-highlight {
  border-left: solid 10px #ff420e;
  border-top: solid 1px #ff420e;
  border-bottom: solid 1px #ff420e;
  border-right: solid 1px #ff420e;
  background-color: #ff420050;
}

.resource-highlight-done {
  border-left: solid 10px #80bd9e;
  border-top: solid 1px #80bd9e;
  border-bottom: solid 1px #80bd9e;
  border-right: solid 1px #80bd9e;
  background-color: #80bd9e50;
}

.relative {
  position: relative;
}

.chart-label-milestone {
  position: absolute;
  top: 0;
  left: 0;
  height: 85px;
  width: 20px;
  background-image: url('https://aple.fernuni-hagen.de/course/format/serial3/img/label-milestone.png');
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-color: #004C97;
}

.chart-label-activities {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 129px;
  width: 20px;
  background-image: url('https://aple.fernuni-hagen.de/course/format/serial3/img/label-activities.png');
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-color: #004C97;
  z-index: 100;
}

.chart-label-filter {
  position: absolute;
  top: 10px;
  left: 0;
  height: 58px;
  width: 20px;
  background-image: url('https://aple.fernuni-hagen.de/course/format/serial3/img/label-filter.png');
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-color: #004C97;
  z-index: 100;
}

#filter-chart .filter-background {
  width: 100%;
  height: 58px;
  fill: rgb(203, 222, 226);
  fill-opacity: 0.5;
}

#filter-chart rect.selection {
  fill: #004C97;
  fill-opacity: 0.5;
}

.milestone-chart-container {
  min-height: inherit;
}

.activity-chart-container {
  max-height: 120px;
  /* 71px*/
}

.filter-chart-container {
  max-height: 80px;
}

.alert-invalid {
  color: #ff420e;
  font-size: 1em;
  padding: 6px 0;
  display: inline-block;
}

.warning-invalid {
  color: #ff420e;
  font-size: 1em;
  padding: 6px 0;
  display: inline-block;
}

.ms-title .nav>li>a, .ms-title .nav-link {
  font-size: 0.8em;
  padding: 1px 2px;
  margin-left: 4px;
}

.ms-view {
  display: inline;
}

#view-timeline {
  padding-left: 0;
  padding-right: 0;
}

#viewPillsTab li:nth-child(1) {
  margin-right: 10px;
}

#viewPillsTab li:nth-child(2), #viewPillsTab li:nth-child(3), #viewPillsTab li:nth-child(4) {
  margin-top: 2px;
  border-radius: 0;
  background-color: #fff;
}

#viewPillsTab li:nth-child(2) a:hover, #viewPillsTab li:nth-child(3) a:hover, #viewPillsTab li:nth-child(4) a:hover {
  border-bottom: solid 3px #008FAC;
  background-color: #fff;
  border-radius: 0;
}

#viewPillsTab.nav-pills .nav-link.active {
  border-bottom: solid 3px #008FAC;
  background-color: #fff;
  border-radius: 0;
}

.milestone-list ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.milestone-list ul li.milestone-element {
  min-width: 100%;
  padding: 8px 0 0 0;
  font-size: .8em;
  vertical-align: middle;
  margin-bottom: 4px;
  border-top: 1px solid #bbb;
}

.milestone-element-name[aria-expanded="true"] .element-collapsed, .milestone-element-name[aria-expanded="false"] .element-not-collapsed {
  display: none;
}

.milestone-element-table-head {
  display: inline-block;
  font-size: 0.8em;
  color: #83878b;
}

.milestone-element-table-head.name {
  width: 300px;
}

.milestone-list .angle {
  width: 8px;
}

.milestone-element-table-head.due {
  width: 200px;
  vertical-align: top;
}

.milestone-element-header {
  height: 20px;
  display: table-row;
  padding: 0px 6px;
  border-radius: 10px;
  border: solid 0px;
}

.milestone-element-name {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
  float: none;
  padding: 2px 2px;
  font-weight: normal;
  vertical-align: top;
}

.milestone-element-name:hover {
  color: #004C97;
  text-decoration: underline;
}

.milestone-element-due {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  padding: 2px 0px;
}

.milestone-element-edit {
  vertical-align: middle;
  float: none;
  display: inline-block;
  width: 100px;
  color: #008FAC !important;
  vertical-align: top;
  padding: 2px 0px;
  cursor: pointer;
}

.milestone-element-edit:hover {
  color: #004C97 !important;
  text-decoration: underline !important;
}

.milestone-element-progress {
  position: relative;
  display: table-cell;
  vertical-align: top;
  float: none;
  width: 50px;
  border: solid 1px #ced4da;
  display: inline-block;
  height: 15px;
  padding: 2px 0px;
  margin-top: 4px;
}

.milestone-element-progress-status {
  background-color: #80bd9e;
  z-index: 80;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 13px;
  vertical-align: top;
}

.milestone-element-status {
  display: inline-block;
  vertical-align: top;
}

.milestone-element-reflection {
  display: inline-block;
  vertical-align: top;
}

.milestone-element-reflection button {
  padding: 1px 4px !important;
  margin: 0px 6px;
  right: 0;
  font-size: 0.9em;
  vertical-align: top;
  background-color: #008fac;
  border: 0;
}

.milestone-element-reflection button.reflection-done {
  background-color: #bbb;
  color: #333536;
}

.milestone-element-reflection button:hover {
  background-color: #004C97;
  color: #fff;
}

.milestone-entry-details {
  padding-left: 2px;
}

.milestone-entry-details .strategy-selected-item.ms-done, .milestone-entry-details .resources-selected-item.ms-done {
  background-color: #fff !important;
}

.milestone-entry-details .strategy-selected-item.ms-done:hover, .milestone-entry-details .resources-selected-item.ms-done:hover {
  background-color: #fff !important;
}

.milestone-list {
  padding-left: 15px;
  padding-right: 15px;
}

.milestone-list .milestone-urgent {
  color: #d76d1c !important;
  /*  #e9a11d */
}

.milestone-list .milestone-missed {
  color: #ff420e !important;
}

.milestone-list .milestone-progress {
  color: #80bd9e;
}

.milestone-list .milestone-ready {
  color: #80bd9e;
}

.milestone-list .milestone-reflected {
  color: rgba(0, 75, 151, 0.7);
}

.milestone-list .grey {
  color: #ced4da;
}

.serial3-pills {
  display: inline-flex !important;
}

.settingsMenu {
  display: inline-flex;
  text-align: right;
  align-items: flex-end;
}

.time-filters .btn-sm {
  font-size: 0.8em !important;
}

.introjs-btn {
  display: inline-flex;
  margin: 0;
  /*right: 0;
    position: absolute;*/
  padding: 1px 15px 0 15px !important;
  text-transform: uppercase;
  color: #008FAC !important;
  border: solid 1px #008FAC !important;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  cursor: pointer;
}

.introjs-btn:hover {
  background-color: rgb(245, 245, 245) !important;
}

.introjs-tooltip {
  min-width: 200px;
  max-width: 66% !important;
}

.badge-ms {
  margin-left: 2px;
  border-width: 0;
  font-weight: normal !important;
  font-size: 0.8em !important;
  border-radius: .5rem;
}

.badge-ms .fa {
  margin-right: 6px;
}

.badge-ready {
  background-color: #80bd9e !important;
  color: #fff !important;
  cursor: pointer;
}

.badge-ready span {
  display: none;
}

.badge-ready:hover span {
  display: inline;
}

.badge-progress {
  border-color: #80bd9e !important;
  border-width: 1px;
  border-style: solid;
  background-color: #fff !important;
  color: #5b5b5b !important;
}

.badge-urgent {
  background-color: #ffbe47 !important;
  color: #5b5b5b !important;
}

.badge-missed {
  background-color: #ff7e5a !important;
  color: #5b5b5b !important;
  padding-left: 8px !important;
}

.badge-reflected {
  background-color: #008FAC !important;
}

.btn-cust-outlined {
  color: #008FAC;
  background-color: transparent;
  padding: 0 15px 0 15px;
  font-family: Roboto, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .08em;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #008FAC;
}

.btn-cust-outlined:hover {
  background-color: #e6ecf077;
}

.btn-cust-contained {
  cursor: pointer;
  height: 36px;
  background-color: #008FAC;
  color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 16px 0 16px;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  border-radius: 4px;
}

/* Remove checkboxes of the progress lists */

span.autocompletion, .tooglecompletion {
  display: none !important;
}

#completionprogressid {
  display: none;
}

.togglecompletion {
  display: none !important;
}

/* Dashboard */

.dashboard {
  margin: 20px -20px;
  border-top: solid 2px #83878b;
}

.dashboard-tab {
  border-bottom: none !important;
}

.dashboard-tab .nav-link {
  font-size: 1em;
  padding: 2px 4px;
  margin-right: 4px;
  border: none;
  border-bottom: solid 3px #fff;
}

ul.dashboard-tab.nav-tabs .nav-link.active, ul.dashboard-tab li.nav-item a.active, ul.dashboard-tab .nav-link:hover {
  border: none;
  border-bottom: solid 3px #008fac;
}

.completion-rect {
  stroke-width: 3px;
  stroke: white;
  width: 20px;
  height: 20px;
  display: inline-block;
  opacity: 0.7;
  margin-right: 1px;
}

.rect-blue {
  background-color: #008fac;
}

.rect-green {
  background-color: #89da59;
}

.completion-rect:hover {
  stroke-width: 3px;
  stroke: white;
  opacity: 1;
}

.completion-section-name {
  font-weight: 500;
}

.completion-icon {
  font-family: 'FontAwesome';
}

#page a {
  color: black !important;
}

#page li.section {
  list-style: none;
  margin-top: 20px;
  border-top: solid 1px #ccc;
}

h3.ms-headline {
  padding: 0px 15px 3px 15px;
}

button.ms-add {
  padding: 1px 5px !important;
  background-color: #008fac !important;
  border-style: none;
}





/* 2022 Dashboard */
#select-goa .fa-caret-down::before {
  content: "\f0d7";
}