*.code-workspace
_trash
test.html
node_modules
.vscode*
.git*
.gitignore
.git-ftp-ignore
*.sh
git-ftp.sh
x.html
x.json
.tscache
.vs-code-workspace.code-workspace
.DS_Store

amd/build/
vue/node_modules/
.grunt/
.php_cs.cache
coverage/
